:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-title-text-color: #ffffff;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-button: #f5f4fa;
  --portfolio-text: #757575;
  --background-color-footer: #2f303a;
  --border-color-portfolio: #eeeeee;
}

.page {
  background-color: var(--white-title-text-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 85px;
}
.logo-color {
  color: var(--title-text-color);
}
.logo-color-footer {
  color: var(--white-title-text-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*site-nav*/

.container.header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  padding-left: 0px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-text-color);

  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  align-items: center;
}
.auth-nav .adress:not(:last-child) {
  margin-right: 30px;
}
.auth-nav .adress-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.adress-logo {
  margin-right: 10px;
}

/* main*/

.hero {
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-block {
  max-width: 696px;
  display: inline-block;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: blue;
}
.hero .hero-title,
.hero .hero-link {
  color: var(--white-title-text-color);
}
.hero .hero-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero .button {
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid;
}
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-title.skills {
  margin-top: 0px;
  margin-bottom: 0px;
}
.section.team-section {
  background-color: var(--portfolio-button);
}

/*advantages*/

.advantages-list {
  display: flex;
  padding-left: 0px;
}
.advantages .advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-link {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 100px;
  background-color: var(--portfolio-button);
}
.advantages .advantages-item-title {
  color: var(--title-text-color);

  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-title {
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}
.advantages-item {
  width: 270px;
  list-style: none;
}

/*specialty*/

.specialty {
  margin-top: 50px;
  display: flex;
  padding-left: 0px;
}
.specialty .specialty-item:not(:last-child) {
  margin-right: 30px;
}
.specialty-item {
  width: 370px;
}
.specialty-title {
  color: var(--white-title-text-color);
  background-color: var(--background-color-footer);
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*team*/

.team {
  margin-top: 50px;
  display: flex;
  padding-left: 0px;
}
.team .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  width: 270px;
  background-color: var(--white-title-text-color);
}
.team-title {
  color: var(--title-text-color);

  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-link:hover,
.team-link:focus {
  color: var(--accent-color);
}
.team-worker {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

/*customers*/

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
}
.customers {
  margin-top: 50px;
  display: flex;
  padding-left: 0px;
}
.customers .customers-item:not(:last-child) {
  margin-right: 30px;
}
.button {
  color: var(--white-title-text-color);
  background-color: var(--accent-color);

  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
/*footer*/
.footer {
  background-color: var(--background-color-footer);
}
.container.footer-blocks {
  display: flex;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-nav {
  font-style: normal;
}
.footer-title {
  color: var(--white-title-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-adress {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}

/*portfolio*/

.portfolio-main-title {
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.button-link {
  color: var(--title-text-color);
  background-color: var(--portfolio-button);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding-left: 0px;
  padding-top: 94px;
}
.button-link .button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  padding-top: 50px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .portfolio-item:not(:last-child) {
  margin-right: 30px;
}
.portfolio-list .portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item {
  width: 370px;
  border: 1px solid var(--border-color-portfolio);
}
.portfolio-titles {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 24px 2px;
}
.portfolio-text {
  color: var(--portfolio-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px 24px 20px;
}
.portfolio-text-accent {
  color: var(--white-title-text-color);
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.portfolio-links {
  text-decoration: none;
}
